footer.footer
    .container
        .level
            .level-left
                .level-item
                    img(src='/static/logo/logo@2x.png' width='60' height='80')
            .level-right
                .level-item
                    span.icon.is-large
                        i.fab.fa-twitter.fa-2x
                    span.icon.is-large
                        i.fab.fa-facebook.fa-2x
                    span.icon.is-large
                        i.fab.fa-instagram.fa-2x
                    span.icon.is-large
                        i.fab.fa-whatsapp.fa-2x
        .divider.has-text-grey-lighter(style='border-top:1px solid currentColor;padding-top:10px;')
        .level
            .level-left
                .level-item.has-text-grey
                    small Find the best products at the best price
            .level-left
                .level-item.has-text-grey
                    small= `Skull Shop ${new Date().getFullYear()} | All rights reserved`      
  

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>