doctype html
head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Skull shop
    link(rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')
    link(rel="stylesheet" href="/static/assets/main.css")
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link  rel="icon"   href="/static/logo@2x.ico" type="image/png" />
body(style="display: flex; min-height:100vh; flex-direction: column")
    script(defer src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
    include navbar.pug
    block hero
    block content
    include footer.pug