nav.navbar.is-primary
    .container
        .navbar-brand
            a.navbar-item
                img(src='/static/logo/logo@2x.png' width='80' height='120')
        .navbar-menu
            .navbar-end
                .navbar-item
                    span.icon.is-large
                        i.fas.fa-shopping-cart.fa-2x